﻿body {
    font-family: 'Segoe UI', Calibri, Arial;
    margin:0;
    background-color: aliceblue;
}
h2{
    font-weight:normal;
    text-align:center;
}
h3{
    font-weight:normal;
    margin:3px 0px;
    text-align:center;
}